* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    font-size: 1.75rem;
    padding: 2rem 6rem;
    background-color: #f4f4f4;
    text-align: center;
}

nav {
    background-color: #000;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    list-style-type: none;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

article {
    flex: 2;
    margin-right: 2rem;
}

article img {
    width: 200px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.boldHeader {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.articleContent {
    text-align: justify;
}

aside {
    flex: 1;
    margin-top: 1rem;
}

.imgContainer {
    display: flex;
    flex-wrap: wrap;
}

.imgContainer img {
    width: 100px;
    margin: 0.5rem;
}
